# WELCOME! YOUR JOURNEY TO BECOMING A PYTHONISTA
## FOUNDATIONS OF PYTHON PROGRAMMING
### AUTHOR: DERE, ABDULHAMEED

## BASIC ARITHMETICS IN PYTHON PROGRAMMING

In [1]:
# Addition
1+1

2

In [2]:
# Subtraction
3-4

-1

In [3]:
# Multiplication
2*3

6

In [4]:
# Division. Note that division always returns float
3/3

1.0

# VARIABLES AND DATA TYPES IN PYTHON PROGRAMMING

Each programming language has a set of terminologies as well datatypes that are common to them. To be proficient in python programming, the following are terminologies that needs to be known. These group is referred to as Python Scalar Types

1. Integers
2. Float
3. Strings
4. Boolean

## INTEGERS

This refers to all numerical values that are devoid of fractions and decimals. Examples include: 1,2,3,45,67,87,100 etc.

In [5]:
type(1)

int

## FLOAT

This refers to numbers with decimal value. Examples include 2.3, 4.5, 6.5, 4.5

In [6]:
type(1.0)

float

## STRINGS

This refers to written words. A string is usually encoded with ''. A brief question here

In [7]:
type('ONE-IH')

str

In [8]:
'Ade','book','python','leaf','etc'

('Ade', 'book', 'python', 'leaf', 'etc')

## BOOLEAN

This refers to a True or False. It usually starts with a capital letter and is denoted with a colour green. Examples include True, False

In [9]:
type(True)

bool

## ASSIGNING OF VARIABLES

In [10]:
x = 'tree'

In [11]:
x

'tree'

In [12]:
type(x)

str

In [13]:
y = 20

In [14]:
y + 5

25

In [15]:
x + 5

TypeError: can only concatenate str (not "int") to str

In [16]:
z = 0.2

In [17]:
y/z

100.0

In [18]:
# Reassignment
y = 500

In [19]:
y/z

2500.0

## Creating Strings
A string is an ordered sequence of characters. An ordered sequence means that certain functions can be used on it which include indexing and slicing to carve out some elements from the entire string

In [20]:
# Single or double quotes can be used
'Hello, this is our first class'

'Hello, this is our first class'

In [21]:
"Here, we are using double quotations"

'Here, we are using double quotations'

In [22]:
# Be aware of potential errors
'Hello there, I'm a beginner pythonista

SyntaxError: invalid syntax (<ipython-input-22-bd673fd6988b>, line 2)

## BASIC PRINTING OF STRINGS

In [23]:
'one'
'two'

'two'

In [24]:
print('one')
print('two')

one
two

1. \n: When used, moves the element to another line
2. \t: when used, moves the element a tab forward

In [25]:
print('the boy brought a lion')
print('the boy brought \n a lion')

the boy brought a lion
the boy brought
 a lion

In [26]:
print('the boy is intelligent')
print('the boy is \t intelligent')

the boy is intelligent
the boy is 	 intelligent

## INDEXING

This is a very important aspect that everyone who intends to be proficient in python programming must learn.
Indexing makes use of a square bracket []
There are 2 types of indexing
1. Normal Indexing
2. Reverse Indexing



Indexing starts at 0, so the string print;

 character               P  R  I  N  T
 
 index                   0  1  2  3  4
 
 reverse index          -5 -4 -3 -2 -1

In [27]:
example = 'print'
print(example)

print

In [28]:
example[0]

'p'

In [29]:
example[1]

'r'

In [30]:
z = ['orange', 1.67,'Yam', 1.31, '6.70']

In [31]:
len(z)

5

In [32]:
z[1]

1.67

## SLICING [start: stop: step:]

This is a method of extracting a certain part of a element without necessarily taking into consideration the entire element.
It has a convention

start index corresponds to where the slice will begin

stop index corresponds to where the slice will stop excluding the indexed character

step index indicates how many characters you skip as you graduate further

In [33]:
word = 'college'

In [34]:
word[0:4]

'coll'

In [35]:
word[2:]

'llege'

In [36]:
word[:2]

'co'

In [37]:
z[0:3]

['orange', 1.67, 'Yam']

In [38]:
train = [1,2,3,4,5,6,7,8,9,0,12,13,13,14,15,13,14]

In [39]:
train[0:16:2]

[1, 3, 5, 7, 9, 12, 13, 15]

In [40]:
basic = 'hello world I am interested in artificial intelligence'

In [41]:
basic.upper()

'HELLO WORLD I AM INTERESTED IN ARTIFICIAL INTELLIGENCE'

In [42]:
basic.lower()

'hello world i am interested in artificial intelligence'

In [43]:
basic.split()

['hello', 'world', 'I', 'am', 'interested', 'in', 'artificial', 'intelligence']

In [44]:
basic.split('i')

['hello world I am ', 'nterested ', 'n art', 'f', 'c', 'al ', 'ntell', 'gence']

### LET US PRACTISE

test = 'this is a very long piece of text and we are going to use it for practise'

slice out 'ext and we are going'

In [ ]:
test = 'this is a very long piece of text and we are going to use it for practise'

## BASIC STRINGS METHOD

Methods are actions you can call of with a string element using the format

string.method_name()

Some common string methods include

upper - makes all the str elements upper case

lower - makes all the str elements lower case

capitalise- makes the first word in the element upper case

split- separates the elements in the str

format - it is used to import certain values within the str

### FORMAT METHOD

This is used to perform string intercollation, essentially inserting a variable when printing a string

In [45]:
username = 'abdulhameed'

In [46]:
password = 123456

In [47]:
# First method
print('my name is {} and my password is {}'.format(username, password))

my name is abdulhameed and my password is 123456

In [48]:
# Second method (using the f string)
print(f'my name is {username} and my password is {password}')

my name is abdulhameed and my password is 123456

In [49]:
# reassignment
a = 1000

In [50]:
x = 'tree'

In [51]:
y = 1.67

In [52]:
z = True

In [53]:
a = 5

In [54]:
username = 'abdul'

In [55]:
password = 1234

In [56]:
print(f'my name is {username} and my password is {password}')

my name is abdul and my password is 1234

                                    Copywright, 2022